<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Market Sizing Tool</title>
  <meta name="author" content="@itsmichaelwang">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <form action="/api/jobStatus" method="post">
    Search Term: <input type="text" name="searchTerm"><br>
    <input type="submit" value="Create Job">
  </form>
  <br>
</body>
</html>
