<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Market Sizing Tool | Run Task</title>
  <meta name="author" content="@itsmichaelwang">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="/public/css/market_sizer_run.css">
</head>
<body>
  <h1 class="center">Current Zip | Current State</h1>
  <h1 class="center"><p id="zipcode"></p>|<p id="state"></p></h1>
  <br>
  <script src="/public/lib/jquery-3.3.1.js"></script>  
  <script src="/public/js/market_sizer_run.js"></script>
</body>
</html>
