<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib, modified by @itsmichaelwang">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>DataShovel LLC</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="public/lib/repair/css/linearicons.css">
		<link rel="stylesheet" href="public/lib/repair/css/font-awesome.min.css">
		<link rel="stylesheet" href="public/lib/repair/css/bootstrap.css">
		<link rel="stylesheet" href="public/lib/repair/css/magnific-popup.css">
		<link rel="stylesheet" href="public/lib/repair/css/nice-select.css">							
		<link rel="stylesheet" href="public/lib/repair/css/animate.min.css">
		<link rel="stylesheet" href="public/lib/repair/css/owl.carousel.css">
		<link rel="stylesheet" href="public/lib/repair/css/main.css">
	</head>
	<body>	
			<header id="header" id="home">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
							<!-- <ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul> -->
						</div>
						<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
							<!-- <a href="tel:+953 012 3654 896">+953 012 3654 896</a> -->
							<a href="mailto:contact@datashovel.io">email datashovel</a>				
						</div>
					</div>			  					
				</div>
			</div>
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
					<div id="logo">
						<h2>DataShovel LLC</h2>
						<!-- <a href="index.html"><img src="public/lib/repair/img/logo.png" alt="" title="" /></a> -->
					</div>
					<!-- <nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Service</a></li>
						<li><a href="feedback.html">Feedback</a></li>
						<li class="menu-has-children"><a href="">Blog</a>
						<ul>
							<li><a href="blog-home.html">Blog Home</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
						</ul>
						</li>						          
						<li><a href="elements.html">Elements</a></li>				          
						<li><a href="contact.html">Contact</a></li>
					</ul>
					</nav>#nav-menu-container		    		 -->
				</div>
			</div>
			</header><!-- #header -->

		<!-- start banner Area -->
		<section class="banner-area" id="home">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center">
					<div class="banner-content col-lg-7 col-md-6 justify-content-center ">
						<h1>
							Concrete data, easily accessible
						</h1>
						<p class="text-white">
							Datashovel LLC extracts and structures critical pieces of data to help our partners deliver key insights
						</p>
						<!-- <a href="#" id="scroll-btn" class="primary-btn header-btn text-uppercase mt-10">Get Started</a> -->
					</div>											
				</div>
			</div>
		</section>
		<!-- End banner Area -->
		
		<!-- Start service Area
		<section class="service-area section-gap" id="service">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 pb-50 header-text text-center">
						<h1 class="mb-10">Our Services</h1>
						<!-- <p>
							Who are in extremely love with eco friendly system..
						</p>
					</div>
				</div>						
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<div class="thumb">
								<img src="public/lib/repair/img/o1.jpg" alt="">									
							</div>
							<h4>Data Mining</h4>
							<p>
								The use of data gathered from sources on the Internet.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<div class="thumb">
								<img src="public/lib/repair/img/o2.jpg" alt="">									
							</div>
							<h4>Market Research</h4>
							<p>
								Using public repositories to find geographic distribution of stores.								
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<div class="thumb">
								<img src="public/lib/repair/img/o3.jpg" alt="">									
							</div>
							<h4>Other Stuff...</h4>
							<p>
								Really!
							</p>
						</div>
					</div>	
					<div class="col-lg-3 col-md-6">
						<div class="single-service">
							<div class="thumb">
								<img src="public/lib/repair/img/o4.jpg" alt="">									
							</div>
							<h4>And Much More</h4>
							<p>
								insert content here
							</p>
						</div>
					</div>																		
				</div>
			</div>	
		</section> -->
		<!-- End service Area -->
		
		<!-- Start home-about Area
		<section class="home-about-area section-gap relative">			
			<div class="container">
				<div class="row align-items-center justify-content-start">
					<div class="col-lg-6 no-padding home-about-right">
						<h1>
							We can fix all types <br>
							of computer & mobiles
						</h1>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
						</p>
						<div class="row no-gutters">
							<div class="single-services col">
								<span class="lnr lnr-diamond"></span>
								<a href="#">
									<h4>Expert Services</h4>
								</a>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology.
								</p>
							</div>
							<div class="single-services col">
								<span class="lnr lnr-phone"></span>
								<a href="#">
									<h4>Great Support</h4>
								</a>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology.
								</p>
							</div>								
						</div>
					</div>
				</div>
			</div>	
		</section>
		<!-- End home-about Area -->

		<!-- Start discount-section Area
		<section class="discount-section-area relative section-gap">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row align-items-center justify-content-between no-gutters">
					<div class="col-lg-6 discount-left">
						<h1 class="text-white">Enjoy 25% Seasonal Discount!</h1>
						<p class="text-white">
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial.
						</p>
						<a href="#" class="header-btn">Order Service Now</a>
					</div>
					<div class="col-lg-5 discount-right">
						<h4 class="text-white">Get a free Estimate</h4>
						<form class="booking-form" id="myForm" action="#">
							<div class="row">
								<div class="col-lg-12 d-flex flex-column">
									<input name="name" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" class="form-control mt-20" required="" type="text">
								</div>
								<div class="col-lg-6 d-flex flex-column">
									<input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="form-control mt-20" required="" type="text">
								</div>
								<div class="col-lg-6 d-flex flex-column">
									<input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" required="" type="email">
								</div>
								<div class="col-lg-12 flex-column">
									<textarea rows="5" class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
								</div>

								<div class="col-lg-12 d-flex justify-content-end send-btn">
									<button class="genric-btn primary mt-20 text-uppercase ">Get Estimate</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>	
		</section>
		<!-- End discount-section Area -->
		
		<!-- Start work-process Area -->
		<section class="work-process-area pt-120">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-7">
						<div class="title text-center">
							<h1 class="mb-10">Our Services</h1>
							<p>Our products help you effortlessly traverse the entire data pipeline</p>
						</div>
					</div>
				</div>	
				<div class="total-work-process d-flex flex-wrap justify-content-around align-items-center">
					<div class="single-work-process">
						<div class="work-icon-box">
							<span class="lnr lnr-magnifier"></span>
						</div>
						<h4 class="caption">Extract</h4>
						<p>Retrieve data from commonly</br>sourced repositories</p>
					</div>
					<div class="work-arrow">
						<img src="public/lib/repair/img/arrow.png" alt="">
					</div>
					<div class="single-work-process">
						<div class="work-icon-box">
							<span class="lnr lnr-sync"></span>
						</div>
						<h4 class="caption">Transform</h4>
						<p>Convert and sanitize data into<br/>an easily workable format</p>
					</div>
					<div class="work-arrow">
						<img src="public/lib/repair/img/arrow.png" alt="">
					</div>
					<div class="single-work-process">
						<div class="work-icon-box">
							<span class="lnr lnr-rocket"></span>
						</div>
						<h4 class="caption">Discover</h4>
						<p>Unlock insights for our partners</p>
					</div>									
				<div class="row">
					<div class="col"></div>
				</div>
			</div>	
		</section>
		<!-- End work-process Area -->
					
		<!-- Start faq Area -->
		<section id="faq-section" class="faq-area section-gap-narrow">
			<!--
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 pb-50 header-text text-center">
						<h1 class="mb-10">Frequently Asked Questions</h1>
						<p>
							Who are in extremely love with eco friendly system.
						</p>
					</div>
				</div>			
				<div class="row faq-contents justify-content-center align-items-center">
					<div class="col-lg-8 faq-left">
						<div class="mn-accordion" id="accordion">
							<!--Accordion item
							<div class="accordion-item">
								<div class="accordion-heading">
									<h3>Success</h3>
									<div class="icon">
										<i class="lnr lnr-chevron-right"></i>
									</div>
								</div>
								<div class="accordion-content">
									<p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
								</div>
							</div>
							<!--Accordion item-->

							<!--Accordion item
							<div class="accordion-item">
								<div class="accordion-heading">
									<h3>Info</h3>
									<div class="icon">
										<i class="lnr lnr-chevron-right"></i>
									</div>
								</div>
								<div class="accordion-content">
									<p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
								</div>
							</div>
							<!--Accordion item-->

							<!--Accordion item
							<div class="accordion-item">
								<div class="accordion-heading">
									<h3>danger</h3>
									<div class="icon">
										<i class="lnr lnr-chevron-right"></i>
									</div>
								</div>
								<div class="accordion-content">
									<p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
								</div>
							</div>
							<!--Accordion item-->
							<!--Accordion item
							<div class="accordion-item">
								<div class="accordion-heading">
									<h3>Warning</h3>
									<div class="icon">
										<i class="lnr lnr-chevron-right"></i>
									</div>
								</div>
								<div class="accordion-content">
									<p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
								</div>
							</div>
							<!--Accordion item
						</div>
					</div>						
				</div>
				<div class="row pt-120 skill-area justify-content-center" id="skills">
					<div class="col-lg-3 single-skill mx-auto d-block">
						<div class="skills skill-1" data-percent="80"></div>
						<h6 class="text-uppercase">web design</h6>							
					</div> 
					<div class="col-lg-3 single-skill mx-auto d-block">
						<div class="skills skill-2" data-percent="75"></div>	
						<h6 class="text-uppercase">ui / ux design</h6>						      		
					</div>	
					<div class="col-lg-3 single-skill mx-auto d-block">
						<div class="skills skill-3" data-percent="60"></div>
						<h6 class="text-uppercase">mobile app</h6>						     			
					</div>
					<div class="col-lg-3 single-skill mx-auto d-block">
						<div class="skills skill-4" data-percent="90"></div>
						<h6 class="text-uppercase">web development</h6>						     			
					</div>
				</div>
			</div> -->
		</section>
		<!-- End faq Area -->

		<!-- Start testomial Area
		<section class="testomial-area section-gap" id="testimonail">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-7">
						<div class="title text-center">
							<h1 class="mb-10 text-white">Feedback from our real clients</h1>
							<p class="text-white">It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="active-testimonial-carusel">
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t1.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t2.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t3.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>	
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t1.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t2.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t3.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>															
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t1.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t2.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>
						<div class="single-testimonial item">
							<img class="mx-auto" src="public/lib/repair/img/t3.png" alt="">
							<p class="desc">
								Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
							</p>
							<h5>Mark Alviro Wiens</h5>
							<p>
								CEO at Google
							</p>
						</div>														
					</div>
				</div>
			</div>	
		</section>
		<!-- End testomial Area -->				
		
		<!-- Start blog Area
		<section class="blog-area section-gap" id="blog">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Latest posts from our blog</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
						</div>
					</div>
				</div>					
				<div class="row">
					<div class="col-lg-3 col-md-6 single-blog">
						<div class="thumb">
							<img class="img-fluid" src="public/lib/repair/img/b1.jpg" alt="">								
						</div>
						<p class="meta">25 October, 2017  |  By <a href="#">Mark Wiens</a></p>
						<a href="blog-single.html">
							<h5>Addiction When Gambling Becomes A Problem</h5>
						</a>
						<p>
							Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their.
						</p>
						<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>		
					</div>
					<div class="col-lg-3 col-md-6 single-blog">
						<div class="thumb">
							<img class="img-fluid" src="public/lib/repair/img/b2.jpg" alt="">								
						</div>
						<p class="meta">25 October, 2017  |  By <a href="#">Mark Wiens</a></p>
						<a href="blog-single.html">
							<h5>Computer Hardware Desktops And Notebooks</h5>
						</a>
						<p>
							Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but it causes anxiety for several different reasons. 
						</p>
						<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>						
					</div>
					<div class="col-lg-3 col-md-6 single-blog">
						<div class="thumb">
							<img class="img-fluid" src="public/lib/repair/img/b3.jpg" alt="">								
						</div>
						<p class="meta">25 October, 2017  |  By <a href="#">Mark Wiens</a></p>
						<a href="blog-single.html">
							<h5>Make Myspace Your Best Designed Space</h5>
						</a>
						<p>
							Plantronics with its GN Netcom wireless headset creates the next generation of wireless headset and other products such as wireless.
						</p>
						<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>									
					</div>
					<div class="col-lg-3 col-md-6 single-blog">
						<div class="thumb">
							<img class="img-fluid" src="public/lib/repair/img/b4.jpg" alt="">								
						</div>
						<p class="meta">25 October, 2017  |  By <a href="#">Mark Wiens</a></p>
						<a href="blog-single.html">
							<h5>Video Games Playing With Imagination</h5>
						</a>
						<p>
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.   11% of all adult internet 
						</p>
						<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>							
					</div>							
				</div>
			</div>	
		</section>
		<!-- End blog Area -->

		<!-- Start brands Area
		<section class="brands-area pb-120">
			<div class="container no-padding">
				<div class="brand-wrap">
					<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
						<div class="col single-brand">
							<a href="#"><img class="mx-auto" src="public/lib/repair/img/l1.png" alt=""></a>
						</div>
						<div class="col single-brand">
							<a href="#"><img class="mx-auto" src="public/lib/repair/img/l2.png" alt=""></a>
						</div>
						<div class="col single-brand">
							<a href="#"><img class="mx-auto" src="public/lib/repair/img/l3.png" alt=""></a>
						</div>
						<div class="col single-brand">
							<a href="#"><img class="mx-auto" src="public/lib/repair/img/l4.png" alt=""></a>
						</div>
						<div class="col single-brand">
							<a href="#"><img class="mx-auto" src="public/lib/repair/img/l5.png" alt=""></a>
						</div>								
					</div>																			
				</div>
			</div>	
		</section>
		<!-- End brands Area -->			

		<!-- start footer Area -->		
		<footer class="footer-area section-gap">
			<div class="container">

				<div class="row">
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Us</h6>
							<p>
								DataShovel LLC is an innovative startup focused on improving consultant workflows.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<!-- <div class="single-footer-widget">
							<h6>Navigation Links</h6>
							<div class="row">
								<div class="col">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Feature</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">Portfolio</a></li>
									</ul>
								</div>
								<div class="col">
									<ul>
										<li><a href="#">Team</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>										
							</div>							
						</div> -->
					</div>					
					<div class="col-lg-3  col-md-6 col-sm-6">
						<!-- <div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>
								For business professionals caught between high OEM price and mediocre print and graphic output.									
							</p>								
							<div id="mc_embed_signup">
								<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
									<div class="input-group d-flex flex-row">
										<input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
										<button class="btn bb-btn"><span class="lnr lnr-location"></span></button>		
									</div>									
									<div class="mt-10 info"></div>
								</form>
							</div>
						</div> -->
					</div>
					<div class="col-lg-3  col-md-6 col-sm-6">
						<!-- <div class="single-footer-widget mail-chimp">
							<h6 class="mb-20">InstaFeed</h6>
							<ul class="instafeed d-flex flex-wrap">
								<li><img src="public/lib/repair/img/i1.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i2.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i3.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i4.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i5.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i6.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i7.jpg" alt=""></li>
								<li><img src="public/lib/repair/img/i8.jpg" alt=""></li>
							</ul>
						</div> -->
					</div>						
				</div>
				

				<div class="row footer-bottom d-flex justify-content-between align-items-center">
					<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
					<!-- <div class="col-lg-4 col-sm-12 footer-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div> -->
				</div>
			</div>
		</footer>
		<!-- End footer Area -->	

		<script src="public/lib/repair/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="public/lib/repair/js/vendor/bootstrap.min.js"></script>			
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="public/lib/repair/js/easing.min.js"></script>			
		<script src="public/lib/repair/js/hoverIntent.js"></script>
		<script src="public/lib/repair/js/superfish.min.js"></script>	
		<script src="public/lib/repair/js/mn-accordion.js"></script>
		<script src="public/lib/repair/js/jquery.ajaxchimp.min.js"></script>
		<script src="public/lib/repair/js/jquery.magnific-popup.min.js"></script>	
		<script src="public/lib/repair/js/owl.carousel.min.js"></script>						
		<script src="public/lib/repair/js/jquery.nice-select.min.js"></script>	
		<script src="public/lib/repair/js/jquery.circlechart.js"></script>								
		<script src="public/lib/repair/js/mail-script.js"></script>	
		<script src="public/lib/repair/js/main.js"></script>	
	</body>
</html>